.bitstitch-editor__input {
  margin-top: 10px;
}

.bitstitch-editor__preview {
  width: 240px;
}

.bitstitch-editor__preview-wrapper {
  margin-top: 20px;
  width: 100%;
}

.bitstitch-editor {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  width: 240px;
}
