@import "../../lib/styles/_mixins";

.header {
  align-items: center;
  background-color: var(--burgundy);
  box-shadow: 0 0 20px var(--burgundy);
  color: var(--pink);
  display: flex;
  height: 60px;
}

.header__title {
  @include user-select(none);
  font-family: Bringshoot, sans-serif;
  font-size: 36px;
  margin-left: 20px;
}
