.header {
  align-items: center;
  background-color: var(--dark);
  box-shadow: 0 0 20px var(--dark);
  color: white;
  display: flex;
  height: 60px;
}

.header-title {
  font-size: 24px;
  margin-left: 20px;
}
