:root {
  --burgundy: #5a3439;
  --black: #222;
  --error: #c00;
  --green-light: #8eb19c;
  --green: #60958b;
  --grey: #777;
  --orange: #a75037;
  --orange-light: #db9c77;
  --white: #e2d3d5;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/Raleway-Regular.ttf');
}

body {
  background-color: white;
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}
