:root {
  --burgundy: #5a3439;
  --black: #222;
  --error: #c00;
  --green-light: #8eb19c;
  --green: #60958b;
  --grey: #777;
  --orange: #a75037;
  --orange-light: #db9c77;
  --pink: #e2d3d5;
}

@font-face {
  font-family: Bringshoot;
  src: url('../assets/fonts/Bringshoot.otf');
}

@font-face {
  font-family: Modikasti;
  src: url('../assets/fonts/Modikasti-Regular.otf');
}

body {
  background-color: white;
  font-family: Modikasti, sans-serif;
  margin: 0;
  padding: 0;
}
